/* css styles */

h2,
h3 {
    text-align: center !important;
    font-size: 100% !important;
}

figcaption {
    text-align: center !important;
}

.caption {
    text-align: center !important;
}

summary,
p,
.sourceCode {
    font-size: 20px;
}

.reveal .slide-logo {
    max-width: 15% !important;
    max-height: 7% !important;
}